@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.bi-star-fill {
    color: #ffb400;
}

body,
.main-section,
.my-container {
    background-color: #f6f7fb !important;
}

h2.fw-bold.ps-3 {
    font-family: LINESeedKR-Bd;
    color: #13375d
}

.my-btn {
    width: 100%;
    background-color: white;
    color: #13375d;
    font-weight: bold;
    border: 0;
}

.my-btn:hover {
    color: #0b5ed7;
}

.my-btn.active {
    background-color: #13375d !important;
    color: white;
}

.btn-group .my-btn:nth-child(1) {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn-group .my-btn:nth-child(4) {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-right: 0;
}

.card {
    cursor: pointer;
}

.middle {
    position: relative;
    width: 100%;
    max-width: 500px;
}

.slider {
    position: relative;
    z-index: 1;
    height: 10px;
    margin: 0 15px;
}

.slider > .track {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: #c6aee7;
}

.slider > .range {
    position: absolute;
    z-index: 2;
    left: 0%;
    right: 0%;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: #6200ee;
}

.slider > .thumb {
    position: absolute;
    z-index: 3;
    width: 30px;
    height: 30px;
    background-color: #6200ee;
    border-radius: 50%;
}

.slider > .thumb.left {
    left: 0%;
    transform: translate(-15px, -10px);
}
.slider > .thumb.right {
    right: 0%;
    transform: translate(15px, -10px);
}

input[type="range"] {
    position: absolute;
    /* opacity로 가린 것을 이벤트도 비활성화하기 위해 */
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 2;
    height: 10px;
    width: 90%;
    opacity: 0;
}

input[type="range"]::-webkit-slider-thumb {
    /* 겹쳐진 두 thumb를 모두 활성화 */
    pointer-events: all;
    width: 30px;
    height: 30px;
    border-radius: 0;
    border: 0 none;
    background-color: red;
    cursor: pointer;
    /* appearance를 해야 위의 스타일들을 볼 수 있음 */
    -webkit-appearance: none;
}

.star-box button:hover {
    background-color: #13375d !important;
    color: white;
}