<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="inc/asset.html :: head"></th:block>
    <link rel="stylesheet" href="/css/hotel-list.css">
</head>
<body>

<!-- header -->
<header th:replace="inc/header.html :: header"></header>

<section class="main-section container-fluid bg-white rounded-5">
    <div class="my-container container-fluid rounded-5">
        <div class="d-flex pt-4">
            <div class="row w-30 d-none d-lg-block">
                <div class="col-4 w-100">
                    <div class="text-center rounded-top bg-white w-100">
                        <p class="text-start p-3 pb-1 mb-2 fw-bold">요금 (원)</p>
                        <div class="middle">
                            <div class="multi-range-slider d-flex p-3">
                                <!-- 진짜 슬라이더 -->
                                <input type="range" id="input-left" min="0" max="300000" value="0" step="10000"/>
                                <input type="range" id="input-right" min="0" max="300000" value="300000" step="10000"/>

                                <!-- 커스텀 슬라이더 -->
                                <div class="slider w-100">
                                    <div class="track"></div>
                                    <div class="range"></div>
                                    <div class="thumb left"></div>
                                    <div class="thumb right"></div>
                                </div>
                            </div>
                            <div class="input-group justify-content-center p-3">
                                <input type="text" class="form-control text-center min-price">
                                <span class="input-group-text">-</span>
                                <input type="text" class="form-control text-center max-price">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-4 w-100 mt-1">
                    <div class="text-center bg-white w-100">
                        <p class="text-start p-3 pb-1 mb-2 fw-bold">홀텔 성급</p>
                        <div class="p-3 pt-0 d-flex star-box">
                            <button class="d-flex align-items-center border-0 p-1 pe-2 ps-2 rounded me-2">
                                <i class="bi bi-star-fill me-1"></i>
                                <i class="bi bi-star-fill me-1"></i>
                                <i class="bi bi-star-fill"></i>
                            </button>
                            <button class="d-flex align-items-center border-0 p-1 pe-2 ps-2 rounded me-2">
                                <i class="bi bi-star-fill me-1"></i>
                                <i class="bi bi-star-fill me-1"></i>
                                <i class="bi bi-star-fill me-1"></i>
                                <i class="bi bi-star-fill"></i>
                            </button>
                            <button class="d-flex align-items-center border-0 p-1 pe-2 ps-2 rounded text-truncate">
                                <i class="bi bi-star-fill me-1"></i>
                                <i class="bi bi-star-fill me-1"></i>
                                <i class="bi bi-star-fill me-1"></i>
                                <i class="bi bi-star-fill me-1"></i>
                                <i class="bi bi-star-fill"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-4 w-100 mt-1">
                    <div class="text-center rounded-bottom bg-white w-100">
                        <p class="text-start p-3 pb-1 mb-2 fw-bold">투숙객 평점</p>
                        <div class="p-3 pt-0 d-flex star-box text-truncate">
                            <button class="d-flex align-items-center border-0 p-1 pe-3 ps-3 rounded me-2">
                                5+
                            </button>
                            <button class="d-flex align-items-center border-0 p-1 pe-3 ps-3 rounded me-2">
                                6+
                            </button>
                            <button class="d-flex align-items-center border-0 p-1 pe-3 ps-3 rounded me-2">
                                7+
                            </button>
                            <button class="d-flex align-items-center border-0 p-1 pe-3 ps-3 rounded me-2">
                                8+
                            </button>
                            <button class="d-flex align-items-center border-0 p-1 pe-3 ps-3 rounded">
                                9+
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row w-100">
                <div class="col-8 w-100">
                    <h2 class="fw-bold ps-3">숙소 검색 결과 1121개</h2>
                    <div class="container-fluid d-flex mb-4">
                        <div class="btn-group w-100">
                            <button class="my-btn pt-2 pb-2 active">인기 호텔</button>
                            <button class="my-btn pt-2 pb-2">가격 낮은 순</button>
                            <button class="my-btn pt-2 pb-2">가격 높은 순</button>
                            <button class="my-btn pt-2 pb-2">리뷰 많은 순</button>
                        </div>
                    </div>

                    <div class="container-fluid">
                        <div class="card mb-3 border-0" onclick="location.href='#'">
                            <div class="row g-0 p-3 align-items-center">
                                <div class="col-md-4 w-25">
                                    <img src="https://aw-d.tripcdn.com/images/220k0x000000lfrruA899_R_640_440_R5_D.jpg_.webp"
                                         class="img-fluid rounded" alt="호텔이미지">
                                </div>
                                <div class="col-md-8 w-75">
                                    <div class="card-body pt-lg-0 pt-sm-2">
                                        <div class="d-flex align-items-center mb-1">
                                            <h5 class="card-title m-0 fs-4 fw-bold">유리엔 호텔</h5>
                                            <small class="small fs-5 fw-bold pe-2">(Hotel Uri&)</small>
                                            <span>
                                              <i class="bi bi-star-fill"></i>
                                              <i class="bi bi-star-fill"></i>
                                              <i class="bi bi-star-fill"></i>
                                              <i class="bi bi-star-fill"></i>
                                              <i class="bi bi-star-fill"></i>
                                            </span>
                                        </div>
                                        <div class="d-flex align-items-center mb-1">
                                            <div class="d-flex border rounded-5 pe-1 ps-1 pt-0 pb-0 me-2"
                                                 style="background-color: #1136a6;">
                                                <span class="fw-bold text-white ps-1" style="font-size: 13px">8.2</span>
                                                <span class="text-white pe-1" style="font-size: 13px">/ 10</span>
                                            </div>
                                            <div class="me-2 fw-bold" style="color: #1136a6">아주 좋음</div>
                                            <div class="text-secondary">이용자 리뷰 41건</div>
                                        </div>
                                        <p class="card-text">
                                            <small class="text-muted d-flex align-items-center">
                                              <span class="material-symbols-outlined text-muted">
                                                location_on
                                              </span>
                                                대한민국 서울특별시 강남구 삼성로96길 20 (06169)
                                            </small>
                                        </p>
                                    </div>
                                    <div class="container d-flex flex-column align-items-end text-end pe-0">
                                        <p class="fs-4 fw-bold mb-2">114,000원</p>
                                        <button class="btn btn-primary w-25">예약하기</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-3 border-0" onclick="location.href='#'">
                            <div class="row g-0 p-3 align-items-center">
                                <div class="col-md-4 w-25">
                                    <img src="https://aw-d.tripcdn.com/images/200t0u000000iuvw6C818_R_960_660_R5_D.jpg_.webp"
                                         class="img-fluid rounded" alt="호텔이미지">
                                </div>
                                <div class="col-md-8 w-75">
                                    <div class="card-body pt-lg-0 pt-sm-2">
                                        <div class="d-flex align-items-center mb-1 flex-wrap">
                                            <h5 class="card-title m-0 fs-4 fw-bold">페어필드 바이 메리어트 서울</h5>
                                            <small class="small fs-5 fw-bold pe-2">(Fairfield by Marriott Seoul)</small>
                                            <span>
                                              <i class="bi bi-star-fill"></i>
                                              <i class="bi bi-star-fill"></i>
                                              <i class="bi bi-star-fill"></i>
                                              <i class="bi bi-star-fill"></i>
                                              <i class="bi bi-star-fill"></i>
                                            </span>
                                        </div>
                                        <div class="d-flex align-items-center mb-1">
                                            <div class="d-flex border rounded-5 pe-1 ps-1 pt-0 pb-0 me-2" style="background-color: #1136a6;">
                                                <span class="fw-bold text-white ps-1" style="font-size: 13px">8.2</span>
                                                <span class="text-white pe-1" style="font-size: 13px">/ 10</span>
                                            </div>
                                            <div class="me-2 fw-bold" style="color: #1136a6">아주 좋음</div>
                                            <div class="text-secondary">이용자 리뷰 41건</div>
                                        </div>
                                        <p class="card-text">
                                            <small class="text-muted d-flex align-items-center">
                                              <span class="material-symbols-outlined text-muted">
                                                location_on
                                              </span>
                                                대한민국 서울특별시 강남구 삼성로96길 20 (06169)
                                            </small>
                                        </p>
                                    </div>
                                    <div class="container d-flex flex-column align-items-end text-end pe-0">
                                        <p class="fs-4 fw-bold mb-2">114,000원</p>
                                        <button class="btn btn-primary w-25">예약하기</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-3 border-0" onclick="location.href='#'">
                            <div class="row g-0 p-3 align-items-center">
                                <div class="col-md-4 w-25">
                                    <img src="https://aw-d.tripcdn.com/images/200t0u000000iuvw6C818_R_960_660_R5_D.jpg_.webp"
                                         class="img-fluid rounded" alt="호텔이미지">
                                </div>
                                <div class="col-md-8 w-75">
                                    <div class="card-body pt-lg-0 pt-sm-2">
                                        <div class="d-flex align-items-center mb-1 flex-wrap">
                                            <h5 class="card-title m-0 fs-4 fw-bold">페어필드 바이 메리어트 서울</h5>
                                            <small class="small fs-5 fw-bold pe-2">(Fairfield by Marriott Seoul)</small>
                                            <span>
                                              <i class="bi bi-star-fill"></i>
                                              <i class="bi bi-star-fill"></i>
                                              <i class="bi bi-star-fill"></i>
                                              <i class="bi bi-star-fill"></i>
                                              <i class="bi bi-star-fill"></i>
                                            </span>
                                        </div>
                                        <div class="d-flex align-items-center mb-1">
                                            <div class="d-flex border rounded-5 pe-1 ps-1 pt-0 pb-0 me-2" style="background-color: #1136a6;">
                                                <span class="fw-bold text-white ps-1" style="font-size: 13px">8.2</span>
                                                <span class="text-white pe-1" style="font-size: 13px">/ 10</span>
                                            </div>
                                            <div class="me-2 fw-bold" style="color: #1136a6">아주 좋음</div>
                                            <div class="text-secondary">이용자 리뷰 41건</div>
                                        </div>
                                        <p class="card-text">
                                            <small class="text-muted d-flex align-items-center">
                                              <span class="material-symbols-outlined text-muted">
                                                location_on
                                              </span>
                                                대한민국 서울특별시 강남구 삼성로96길 20 (06169)
                                            </small>
                                        </p>
                                    </div>
                                    <div class="container d-flex flex-column align-items-end text-end pe-0">
                                        <p class="fs-4 fw-bold mb-2">114,000원</p>
                                        <button class="btn btn-primary w-25">예약하기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    const inputLeft = document.getElementById("input-left");
    const inputRight = document.getElementById("input-right");
    const minPriceInput = document.querySelector(".min-price");
    const maxPriceInput = document.querySelector(".max-price");

    const thumbLeft = document.querySelector(".slider > .thumb.left");
    const thumbRight = document.querySelector(".slider > .thumb.right");
    const range = document.querySelector(".slider > .range");

    const formatPriceWithCommas = (price) => {
        return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    };

    const setLeftValue = () => {
        const _this = inputLeft;
        const [min, max, step] = [parseInt(_this.min), parseInt(_this.max), parseInt(_this.step)];

        _this.value = Math.floor(_this.value / step) * step;
        _this.value = Math.min(parseInt(_this.value), parseInt(inputRight.value) - step);

        const percent = ((_this.value - min) / (max - min)) * 100;
        thumbLeft.style.left = percent + "%";
        range.style.left = percent + "%";

        // min-price 입력란 업데이트
        minPriceInput.value = formatPriceWithCommas(_this.value) + "원";
    };

    const setRightValue = () => {
        const _this = inputRight;
        const [min, max, step] = [parseInt(_this.min), parseInt(_this.max), parseInt(_this.step)];

        _this.value = Math.ceil(_this.value / step) * step;
        _this.value = Math.max(parseInt(_this.value), parseInt(inputLeft.value) + step);

        const percent = ((_this.value - min) / (max - min)) * 100;
        thumbRight.style.right = 100 - percent + "%";
        range.style.right = 100 - percent + "%";

        // max-price 입력란 업데이트
        if (_this.value >= max) {
            maxPriceInput.value = "300,000원+";
        } else {
            maxPriceInput.value = formatPriceWithCommas(_this.value) + "원";
        }
    };

    inputLeft.addEventListener("input", setLeftValue);
    inputRight.addEventListener("input", setRightValue);

    // min-price와 max-price 입력란의 초기 값을 설정합니다.
    minPriceInput.value = formatPriceWithCommas(inputLeft.value) + "원";
    maxPriceInput.value = formatPriceWithCommas(inputRight.value) + "원+";
</script>
</body>
</html>